body{
    background-image: url(img/estadoDelCafe.jpg); 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: cover;
}
header, footer{
    background-color: #876445;
}
h4, .menu, #uno, #dos, #tres{
    color: #EEC373;
    font-size: 4rem;
}
p{
    color: #FFF;
    font-size: 1rem;
}
#datos{
    color: #EEC373;
    font-size: 2rem;
}
.card{
    background-color: #CA965C;
    color: #fff;
    font-size: 1rem;
}
#log{
    width: 45px;
}
#logos{
    color: #fff;
    font-size: 1rem;
}
#opciones{
    color: #EEC373;
    font-size: 2rem;
    text-align: center;
}
*, #opcions, #contactos{
    text-align: center;
}
#mapa{
    width: 380px;
    height: 330px;
    border: 0; 
}
